node_modules
test/coverage
bower_components
.idea/.name
.idea/angular-loading-bar.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
