<!doctype html>
<html>
  <head>
    <title>Angular Loading Bar</title>
    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-animate.min.js"></script>

    <!-- loadingbar -->
    <script src="src/loading-bar.js"></script>
    <link href='src/loading-bar.css' rel='stylesheet' />

    <!-- example app -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="app.js"></script>
    <link href='app.css' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'>
  </head>

  <body ng-app="LoadingBarExample" ng-controller="ExampleCtrl">
    <div class="jumbotron">
      <h1>Angular Loading Bar</h1>
      <p>An automatic loading bar using angular interceptors.<small>  It works automatically, so simply include it as a dependency and it will automatically display the progress of your <code>$http</code> requests.</small></p>
      <p>
        <a href="https://github.com/chieffancypants/angular-loading-bar/archive/master.zip" class="btn btn-primary btn-lg">
          <i class="glyphicon glyphicon-download"></i>&nbsp;&nbsp;Download
        </a>
        <a href="https://github.com/chieffancypants/angular-loading-bar" class="btn btn-default btn-lg">
          <i class="glyphicon glyphicon-share"></i>&nbsp;&nbsp;View on GitHub
        </a>
      </p>
    </div>

    <div class="examples" ng-hide="fakeIntro">
      <!-- <h4>Examples:</h4> -->
      <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-primary btn-lg" ng-click="start()">
          <i class="glyphicon glyphicon-play-circle"></i> <span>cfpLoadingBar.</span>start()
        </a>
        <a href="#" class="btn btn-primary btn-lg" ng-click="complete()">
          <i class="glyphicon glyphicon-play-circle"></i> <span>cfpLoadingBar.</span>complete()
        </a>
        <a href="#" class="btn btn-primary btn-lg" ng-click="fetch()"><i class="glyphicon glyphicon-play-circle"></i> Real Example <span> (from reddit)</span></a>
      </div>
    </div>

    <!-- a little ghetto re-using `subreddit` on ng-if, but this is just an example and I don't want to create a directive -->
    <div class="description" ng-hide="fakeIntro" ng-if="!subreddit">
      <h4>What is this?</h4>
      <p>There are a few projects like this one, but none that were automatic.  They all required you to maintain state on behalf of the progress bar, setting its position manually.  This is problematic when you have multiple services all making independent XHR requests.  You simply can't have loosly-coupled code in this scenario.</p>
      <p>This project is different.  It automates the loading bar's progress, by using angular <code>interceptors</code>. Multiple requests within the same time period get bundled together such that each response increments the progress bar by the appropriate amount.</p>
    </div>

    <div class="usage" ng-hide="fakeIntro" ng-if="!subreddit">
      <h4>How do I use it?</h4>
      <p>Install it via npm or bower</p>
      <pre>$ npm install angular-loading-bar
$ bower install angular-loading-bar</pre>

      <p>To use, simply include it as a dependency in your app and you're done!</p>
      <pre>angular.module('myApp', ['angular-loading-bar'])</pre>

    </div>
    <h4 class="loading-text" ng-show="subreddit">Showing a few results for: <span>/r/{{subreddit}}...</span></h4>
    <div ng-repeat="post in posts" class="panel panel-default">
      <div class="panel-body media">
        <span class="badge pull-right">{{post.data.score}}</span>
        <div class="pull-left" ng-if="post.data.thumbnail">
          <img class="thumbnail" ng-src="{{post.data.thumbnail}}">
        </div>
        <div class="">
          <div class="">
            <a href="{{post.data.url}}">{{post.data.title}}</a>
            <p class="meta">by {{post.data.author}}</p>
            <p class="meta-comments">{{post.data.num_comments}} comments</p>
          </div>
        </div>
      </div>
    </div>

  <footer ng-hide="fakeIntro">
    <iframe width="95" height="30" frameborder="0" src="http://ghbtns.com/github-btn.html?user=chieffancypants&repo=angular-loading-bar&type=watch&count=true&size=medium"></iframe>
    <iframe width="210" height="30" frameborder="0" src="http://ghbtns.com/github-btn.html?user=chieffancypants&type=follow&count=true&size=medium"></iframe>
  </footer>

  </body>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44146513-1', 'chieffancypants.github.io');
  ga('send', 'pageview');
  </script>
</html>
