$angularLoadingBarDefaultPositiont: fixed;
$angularLoadingBarDefaultPositionLeft: 0;
$angularLoadingBarDefaultPositionTop: 0;
$angularLoadingBarDefaultBackground: #29d;
$angularLoadingBarDefaultTransitionDuration: 350ms;
$angularLoadingBarDefaultZindex: 10002;
$angularLoadingBarDefaultHeight: 2px;
$angularLoadingBarDefaultWidth: 100%;
$angularLoadingBarDefaultBorderRadius: 0 1px 1px 0;
